@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://fonts.gstatic.com/s/ubuntu/v9/_aijTyevf54tkVDLy-dlnD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v9/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://fonts.gstatic.com/s/ubuntu/v9/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body, h1, h2, h3, h4, h5, h6, p, div {
	margin: 0;
	padding: 0;
}

body {
	font: 13px 'Myriad Pro';
}

nav {
	font: 13px Ubuntu;
	float: right;
}

nav a:hover,
.say-something a:hover {
	color: #57EFFF; 
	border-bottom-color: #57EFFF; 
}

/* Creating FULL WIDTH gradient */

header:before,
header:after,
.work-together:before,
.work-together:after,
footer:before,
footer:after {
	content: "";
	height:100%;
}
#wrapper {
	width: 1100px;
	margin: 0 auto; 
	padding: 0 10px;
	padding-top: 0;
}

#wrapper>header {
	position: relative;
	color: #fff;
	font: 20px Ubuntu;
	padding: 20px;
	padding-top: 0;
}

#wrapper>header:before {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#504d84+0,4ba09a+100 */
background: #504d84; /* Old browsers */
background: -moz-linear-gradient(45deg,  #504d84 0%, #4ba09a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #504d84 0%,#4ba09a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #504d84 0%,#4ba09a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#504d84', endColorstr='#4ba09a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	position: absolute;
	width: 100vw; /* 100vw = 100% visual  */
	left: calc(-50vw + 541px);
	z-index: -1;
}

#wrapper>header h4 {
	font-weight: 300;
	float: left;
	margin: 13px;
}

.logo-and-navigation {
	border-bottom: 1px solid #607EA9;
}

.logo-and-navigation:after,
.work-better>div:after, 
footer:after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	zoom: 1;
}

ul>li {
	list-style-type: none;
	display: inline-block;
	margin: 5px 10px;
}

li>a {
	color: #FFF;
	text-decoration: none;
}

.logo-and-slogan {
	text-align: center;
}

.logo-and-slogan h1 {
	color: #57EFFF;
	margin-top: 20px;
	font: 54px Ubuntu;
	font-weight: bold;
	letter-spacing: 10px;
}

.logo-and-slogan>header>p {
	font: 16px Ubuntu;
	font-weight: bold;
	margin: -10px; 
	letter-spacing: 2px;
}

.logo-and-slogan>p.slogan {
	font: 60px Ubuntu;
	margin-top: 40px;
}

.get-started,
.say-something {
	margin: 20px;
	margin-top: 40px;
}

.get-started {
	margin-top: 100px;
}

.get-started a {
	border: 2px solid #FFF;
	padding: 15px 35px;
	color: #FFF;
	text-decoration: none;
	font: 24px Ubuntu;
}

.say-something a {
	color: #FFF;
	font: 16px ' Myriad Pro';
	letter-spacing: 2px;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 2px solid #98ACC8; 
}

/* MAIN */

main {
	text-align: center;
}

header>h3 {
	font: 28px Ubuntu;
	letter-spacing: 2px;
	color: #6C7982;
	margin: 25px 0; 
}

header>h5,
h5 {
	font: 20px Ubuntu;
	margin: 15px 0;
}

div.logo {
	margin: 0 auto;
	width: 120px;
	height: 120px;
}

.services {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.services>div {
	width: 295px;
	color: #6C7982;
}

.services>div>p {
	margin-bottom: 15px;
}

.services>div>a,
.client-feedback a {
	color: #57EFFF;
	text-decoration: none;
}

.options>header> .logo {
	background: url('images/02-Icons-Sprite.png') -10px 0;
}

.interfaces>header>.logo {
	background: url('images/02-Icons-Sprite.png') 135px 0;
}

.documentation>header>.logo {
	background: url('images/02-Icons-Sprite.png') 305px 0;
}

.work-together {
	position: relative;
	height: 60px;
	margin-top: 40px;
	color: #FFF;
	font: 20px Ubuntu;
}

.work-together:before {
	position: absolute;
	width: 100vw; /* 100vw = 100% visual  */
	left: calc(-50vw + 541px);
	z-index: -1;
	background: #FF7978;
}

.work-together>p {
	line-height: 60px;
	letter-spacing: 2px;
}


.work-better>div {
	width: 480px;
	display: inline-block;
	background-color: #F7F8FA;
	margin: 34px;
	color: #6C7982;
	text-align: left;
}

.work-better>div>p {
	text-align: left;
	padding: 10px;
}

.work-better>div>img {
	float: left;
	margin-right: 10px;
} 

.client-feedback p {
	font: 16px 'Myriad Pro';
	color: #6C7982;
	font-weight: bold;
	width: 770px;
	margin: 15px auto;
}  

footer {
	position: relative;
}

footer:before {
	position: absolute;
	width: 100vw; /* 100vw = 100% visual  */
	left: calc(-50vw + 541px);
	z-index: -1;
	background-color: #282E3C; 
}

footer {
	height: 50px;
	margin: 0;
	margin-top: 20px; 
	color: #5D7786;
	font: 12px 'Myriad Pro';
}

.design {
	float: left;
}

.copy {
	float: right;
}

.design,
.copy {
	line-height: 50px;
	padding: 0 20px;
}

